@charset "utf-8";
/* CSS Document */
* {
	font-size:12px;
}
.overflowH {
	overflow:hidden;
}
body,h2,p,input,h1,h3 {
	margin:0;
	padding:0x;
}
article,aside,dialog,figure,footer,header,legend,nav,section {
	display:block;
}
body {
	font-family:Arial, "方正兰亭黑简体", "微软雅黑";
	background-color:#54a0d7;
	/*-webkit-background-image:linear-gradient(#093771,#54a0d7);
	-moz-background-image:linear-gradient(#093771,#54a0d7);
	-ms-background-image:linear-gradient(#093771,#54a0d7);*/
	background-image:linear-gradient(#093771,#54a0d7);
	background-repeat:no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = #093771, endColorstr = #54a0d7);
}
header{
	width:1000px;
	margin:0 auto;
}
header h1 {
	width:606px;
	margin:40px auto 0px;
}
header .h1 {
	font-size:54px;
	line-height:70px; 
	color:#00365b; 
	font-weight:bold; 
	/*text-align:center;*/
	margin:20px 0 0 0;
	/*-webkit-text-shadow:2px 2px 2px #000c16;
	-moz-text-shadow:2px 2px 2px #000c16;
	-ms-text-shadow:2px 2px 2px #000c16;
	text-shadow:2px 2px 2px #000c16;*/ 
}
header .show {
	display:inline-block;
	position:absolute;
	font-size:54px;
	line-height:70px; 
	font-weight:bold; 
	color:#cfe8f9;
	margin:-3px 0px 0px -3px;
}

.font{margin:0; padding:1em; font-size:36px; font-family:"微软雅黑"; float:left;}
.sh{margin:-1px 0 0 -1px; color:#fff; position:absolute;} 

header h3 {
	font-size:20px;
	line-height:50px;
	text-align:center; 
	color:#dddddd;
	font-family:"创艺简楷体";
}
img {
	display:block; 
	border:none;
}
.img {
	position:absolute; 
	top:10px; 
	left:60px;
}
header .box {
	position:relative;
	width:500px; 
	height:260px; 
	border-radius:4px; 
	text-align:center; 
	padding:20px 0; 
	border:#666 solid 1px; 
	margin:4px auto; 
	background-color:#fff;
	background-image:url(../images/photo01.png);
}
header h2 {
	font-size:30px; 
	margin:20px 0 20px 180px; 
	color:#1386d2;
	font-family:"方正大标宋简体";
}
header form {
	width:300px;
	padding:10px 20px;
	float:right;
}
header .regist {
	width:300px; 
	height:30px; 
	margin:10px 0; 
	font-size:16px;
}
header .regist input {
	width:160px; 
	height:24px;
	background-color:#cfe8f9;
}
header .regist samp{
	font-size:16px;
	color:rgba(0,0,0,0);
}
header .reg button {
	width:164px; 
	height:30px; 
	margin:10px 35px;
	font-size:14px;
	float:right;
}
footer {
	width:1000px;
	margin:0 auto;
	text-align:center; 	
	padding:10px 0
}
footer p{
	color:#094191;
	line-height:24px;
}
footer figure{
	width:432px;
	margin:15px auto;
}
footer img{
	display:inline-block;
	margin:0 10px;
}